body {
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: 'Roboto';
}

a {
  color: #332;
  text-decoration: underline;
}

h2 {
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.small-margin {
  margin-top: 10px;
  margin-bottom: 3px;
}

.h5-move-up {
  transform: translateY(-16px);
}

.letter-spacing {
  letter-spacing: 3px;
}

.tabs .tab a {
  color: #333;
} /*Black color to the text*/

.tabs .tab a:hover {
  color: orange;
} /*Text color on hover*/

.tabs .indicator {
  background-color: white;
} /*Color of underline*/

/*Splash URL */
.splash_text {
  font-size: 11rem;
  color: #332;
  font-weight: 600;
}

.splash_text_med {
  font-size: 11rem;
  color: #332;
  font-weight: 600;
}

.splash_text_small {
  padding-top: 300px;
  font-size: 5rem;
  letter-spacing: 5px;
  font-weight: 500;
}

/* ----------------- Form Colors --------------- */

/* label color */
.input-field label {
  color: white;
}
/* label focus color */
.input-field input[type='text']:focus + label {
  color: #000 !important;
}
.input-field input[type='text']:focus + label {
  color: #000 !important;
}
/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type='text'].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type='text'].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

/* ----------------- Head Lines --------------- */
/* Headline Line */
.headline {
  border: 5px solid #f16f74;
}
.headline-bottom {
  height: 5px;
  background-color: orange;
  position: relative;
}

.headline-icon {
  position: absolute;
  left: 0;
  top: -50px;
}

.headline-icon i {
  font-size: 3rem;
  color: #262626;
}

/* ----------------- Inputs --------------- */

/* Button*/

.btn {
  background-color: #262626;
}

.btn:hover {
  background-color: #ee6e73 !important;
}

/* ----------------- Info Images --------------- */
.about-image {
  height: 74px;
  width: 102px;
  border-radius: 50%;
  background-image: url(./img/me.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 30% 40%;
}

/* ----------------- Media Size --------------- */

@media only screen and (max-width: 600px) {
  .splash_text {
    font-size: 4rem;
    color: #332;
    font-weight: 600;
  }

  .splash_text_small {
    padding-top: 300px;
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 600px) {
  .splash_text {
    font-size: 6rem;
    color: #332;
    font-weight: 600;
  }
}

@media only screen and (min-width: 768px) {
  .splash_text {
    font-size: 13rem;
    color: #332;
    font-weight: 600;
  }
}
